body {
    font-family: var(--primary-font);
    background-color: #cecece;
    font-weight: var(--primary-font-weight);
}

main {
    padding-block: 2rem 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}
@media (max-width: 1380px) {
    main {
        padding-inline: 0.8rem;
    }
}

.btn {
    border-radius: 30px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: var(--primary-transition)
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-light-color);
    border: 2px solid var(--primary-light-color);
}

.btn-filled {
    background-color: var(--primary-light-color);
    color: #6329A2;
    border-color: transparent;
}

.btn:hover {
    background-color: #6329A2;
    color: var(--primary-light-color);
    border-color: transparent;
}






/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    padding-inline-start: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove some anchor default styles */
a {
    text-decoration: none;
    color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }




  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-font: 'Ubuntu', sans-serif;
    --primary-light-color: #EDEDED;
    --primary-dark-color: #333333;
    --primary-font-weight: 400;
    --primary-transition: all 0.2s cubic-bezier(0, 0, 0.59, 0.28);
}
}
